.aboutbanner{
    background-image:  url('/public/Images/aboutus/business-man-wearing-suit-tie_191555-4305.avif');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.bannertext{
    position: absolute;
    top: 50%;
    transform: translate(-50% ,-50%);
    left: 35%;
    color: #fff;
    text-align: center;
}

.bannertext h1{
    font-size: 50px;
    text-shadow: 1px 1px 3px #000;
    font-weight: bold;
}
.bannertext h3{
    font-size: 27px;
    text-shadow: 1px 1px 3px #000;
}
.about-content{
    margin-top: 5%;
    text-align: center;
}
.about-content h1{
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2%;
}
.about-content p{
    font-size: 19px;
    line-height: 2.4rem;
}
.about-content .lastp{
    margin-top: 2%;
   font-size: 27px;
   font-weight: 700;
   margin-bottom: 6%;
}
/* --about ---purposee */

.left-item{
    background-color: #ff6633;
    padding: 80px;
    text-align: center;
    border-right: 1px solid #fff;
}
.right-item{
    background-color: #F9A03F;
    padding: 80px;
    text-align: center;
    border-left: 1px solid #fff;

}
.left-item img ,.right-item img{
    height: 100px;
    width: 100px;
}
.ab-purpose-content{
    color: #fff;
}
.ab-purpose-content h3{
    margin-top: 4%;
    font-size: 30px;
    font-weight: 600;
}
.ab-purpose-content ul{
    display: flex;
    justify-content: space-evenly;
}
.ab-purpose-content p{
    font-size: 19px;
}
.journey-img {
    width: 100%;
    height: 200px;
}
.journey-img img{
    height: 100%;
    width: 100%;
}
.journey{
    margin-top: 5%;
}
.journey-title{
    text-align: center;
    margin-top: 1%;
}
.journey-title h1{
    font-size: 47px;
    margin-bottom: 0.5%;
}
.journey-title h4{
    font-size: 20px;
    color: #2b2b2bab;
}


/* --score---- */
.score{
    background-color: #F6F6F6;
    padding: 50px;
}
.score h1{
    text-align: center;
    margin-bottom: 3%;
}
.score-content {
    /* height: 100px; */
    text-align: center;
    position: relative;
    margin-bottom: 2%;
}
.score-content:hover{
    transform: translateY(-10px);
    transition: all 0.1s ease;
}


.score-content img{
    height: 40%;
    width: 30%;
    margin-bottom: 11%;
}
.score-content h2{
    font-weight: 600;
}
.score-content h6{
    font-size: 20px;
}
.chrono{
    padding: 80px;
    height: 600px;
    width: 100%;
}

/* --chron--- */
